@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Pacifico&display=swap');

*{
    margin:0rem;
    padding:0rem;
}

html
{
    font-size: 62.5%;
}
body
{
    background-color: rgb(195, 195, 242);
}

h1
{
    margin-top: 1.5rem;
    text-align: center;
    animation: rotateit 1s ease-out forwards;
    font-size: 3.5rem;
    font-family: 'Pacifico', cursive;
    color: purple;
}
h1:hover
{
    color: white;
}
@keyframes rotateit
{
    0%{transform: translateX(-35.0rem)}
    0%{color: white;}
    25%{color: pink;}
    50%{color:rgb(239, 130, 225) ;}
}

.container
{
    width:50.0rem;
    height:30.0rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.up,.down
{
    height:7.0rem;
    width: 100%;
    background-color: rgba(7, 7, 96, 0.962);
}
.up
{
    border-radius: 2.0rem 2.0rem 0rem 0rem;
}
.down
{
    border-radius: 0rem 0rem 2.0rem 2.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotecontainer
{
    height:20.0rem;
    background-color: rgb(98, 98, 235);
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    animation:closedown 1s ease-in-out;
    font-family: 'Dancing Script', cursive;
}
@keyframes closedown
{
    0%{height:2.0rem};
}
.quotenauthor
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items:flex-end;
    margin-top: 5.0rem;
    /* border:2rem solid black; */
}
#quote
{
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 2.5rem;
    /* border: 2rem solid white; */
}
#author
{
    display: flex;
    color:wheat;
    /* border:2rem solid green; */
    margin-right: 3.0rem;
    font-size: 2.0rem;
}

#quote,#author
{
    animation: dheere 0.7s ease-in-out forwards;
}
#quote:hover
{
   animation: r 0.7s ease-in-out forwards;
}
#author:hover
{
    transform: scale(1.2);
}
@keyframes r
{
    0%{transform: rotate(360deg);}
}

@keyframes dheere
{
    0%{opacity: 0;}
}

#generate
{
    animation: gayab 2s ease-in-out;
    height: 4.0rem;
    width: 12.0rem;
    font-size: 2.0rem;
    border-radius: 1.0rem;
    border: none;
    text-decoration: none;
    background-color: orange;
    color: white;
}
#generate:hover
{
    transform: scale(1.1);
    border: .1rem solid white;
}
#generate:active
{
    transform: scale(0.9);
}
@keyframes gayab
{
    0%{opacity: 0;};
}

@media (max-width:500px)
{
    html
    {
        font-size: 55%;
    }
}
@media (max-width:430px)
{
    html
    {
        font-size: 50%;
    }
}
@media (max-width:395px)
{
    html
    {
        font-size: 45%;
    }
}
@media (max-width:370px)
{
    html
    {
        font-size: 40%;
    }
}